[consumer]
repository = "{{ repository }}"
head = "{{ head }}"
family = "{{ family }}"

[manufacture]
pack_path = "{{ pack_path }}"
qualification = "{{ qualification }}"
reversible = true

[authority]
select = true
construct = true
do = false
