apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
  labels:
    app.kubernetes.io/part-of: aaif
    aaif.io/finops-tier: {{ finops | default(value="UNSPECIFIED") }}
    aaif.io/siem-mode: {{ siem | default(value="UNSPECIFIED") }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aaif-runtime
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: aaif-runtime
  template:
    metadata:
      labels:
        app: aaif-runtime
      annotations:
        aaif.io/cmek-provider: "{{ cmek | default(value="NONE") }}"
        aaif.io/pqc-suite: "{{ pqc | default(value="NONE") }}"
        aaif.io/spiffe-trust-domain: "{{ trust_domain }}"
