defmodule {{ resource_module }} do
  use Ash.Resource, domain: {{ domain_module }}
  attributes do
  {% for attribute in attributes %}attribute :{{ attribute.name }}, {{ attribute.type }}
  {% endfor %}end
end
