---
to: .github/actions/setup-ggen/action.yml
sparql:
  row: |
    PREFIX gha: <http://seanchatmangpt.github.io/packs/github-actions#>
    SELECT ?body WHERE {
      gha:SetupGgenAction gha:artifactBody ?body .
    } ORDER BY ?body
---
{{ row[0].body }}