candidate,new_meaningful_commit_yield,independent_merge_yield,dependency_relief,qualified_capability,marketplace_reuse,reversibility,uncertainty,authority_surface,falsifier_pressure
{{ candidate_id }},{{ commit_yield }},{{ merge_yield }},{{ dependency_relief }},{{ qualified_capability }},{{ marketplace_reuse }},{{ reversibility }},{{ uncertainty }},{{ authority_surface }},{{ falsifier_pressure }}
