defmodule {{ audit_fields_module }} do
  @created_by {{ created_by_field | json_encode }}
  @updated_by {{ updated_by_field | json_encode }}
  @created_at {{ created_at_field | json_encode }}
  @updated_at {{ updated_at_field | json_encode }}

  def contract do
    %{created_by: @created_by, updated_by: @updated_by, created_at: @created_at, updated_at: @updated_at}
  end
end
