defmodule {{ batch_module }} do
  @max {{ max_batch }}

  def admit(items) when is_list(items) and length(items) <= @max, do: {:ok, items}
  def admit(items) when is_list(items), do: {:error, {:REFUSED_BATCH_TOO_LARGE, length(items), @max}}
  def admit(_), do: {:error, :REFUSED_BATCH_NOT_LIST}
end
