defmodule {{ deprecation_module }} do
  @since {{ deprecated_since | json_encode }}
  @replacement {{ replacement | json_encode }}

  def metadata, do: %{since: @since, replacement: @replacement}
end
