defmodule {{ domain_error_module }} do
  @code_field {{ domain_error_code_field | json_encode }}
  @message_field {{ domain_error_message_field | json_encode }}
  @details_field {{ domain_error_details_field | json_encode }}

  def contract, do: %{code: @code_field, message: @message_field, details: @details_field}
end
