defmodule {{ error_module }} do
  @moduledoc false
  defexception [:code, :message, :subject]

  @impl true
  def exception(opts) do
    code = Keyword.fetch!(opts, :code)
    message = Keyword.get(opts, :message, Atom.to_string(code))
    %__MODULE__{code: code, message: message, subject: Keyword.get(opts, :subject)}
  end
end
