defmodule {{ event_envelope_module }} do
  @type_field {{ event_type_field | json_encode }}
  @subject_field {{ event_subject_field | json_encode }}
  @time_field {{ event_time_field | json_encode }}
  @data_field {{ event_data_field | json_encode }}

  def contract, do: %{type: @type_field, subject: @subject_field, time: @time_field, data: @data_field}
end
