defmodule {{ ocel_module }} do
  @event_type {{ event_type | json_encode }}
  @object_type {{ object_type | json_encode }}

  def event(object_id, attrs \\ %{}) do
    %{event_type: @event_type, object_type: @object_type, object_id: object_id, attributes: attrs}
  end
end
