defmodule {{ output_sanitization_module }} do
  @mode {{ sanitization_mode | json_encode }}
  @sanitizer {{ output_sanitizer | json_encode }}

  def contract, do: %{mode: @mode, sanitizer: @sanitizer}
end
