defmodule {{ receipt_module }} do
  @enforce_keys [:subject, :action, :result, :recorded_at]
  defstruct [:subject, :action, :result, :recorded_at, :replay_key]

  def new(subject, action, result, replay_key) do
    %__MODULE__{subject: subject, action: action, result: result, replay_key: replay_key, recorded_at: DateTime.utc_now()}
  end
end
