defmodule {{ retry_module }} do
  @max_attempts {{ max_attempts }}

  def run(fun, attempt \\ 1)
  def run(fun, attempt) when attempt <= @max_attempts do
    case fun.() do
      {:error, _} = error when attempt < @max_attempts -> run(fun, attempt + 1)
      result -> result
    end
  end
  def run(_fun, _attempt), do: {:error, :retry_exhausted}
end
