defmodule {{ stream_module }} do
  @chunk_size {{ stream_chunk_size }}
  @backpressure {{ backpressure_mode | json_encode }}

  def contract, do: %{chunk_size: @chunk_size, backpressure: @backpressure}
end
