[pack]
name = "{{ name }}"
version = "{{ version | default(value="0.1.0") }}"
description = "{{ description }}"
category = "{{ category | default(value="uncategorized") }}"
author = "ggen"
license = "MIT OR Apache-2.0"
production_ready = false

[pack.metadata]
tags = ["ggen"]
keywords = ["ggen", "pack"]
