---
to: infra/terraform/github-enterprise/repositories.tf
sparql:
  rows: |
    PREFIX ghea: <http://seanchatmangpt.github.io/packs/gh-enterprise-architecture#>
    SELECT ?body WHERE { ghea:RepositoriesTf ghea:artifactBody ?body . }
---
{{ rows[0].body }}
