---
to: "ggen-create.json"
sparql:
  entities: |
    PREFIX gc: <https://ggen.io/ontology/ggen-create#>
    SELECT ?name ?upper ?lower ?capitalized ?pascal ?camel ?snake ?upper_snake ?kebab ?title
    WHERE {
      gc:subject a gc:GenerationSubject ;
          gc:name ?name ;
          gc:upper ?upper ;
          gc:lower ?lower ;
          gc:capitalized ?capitalized ;
          gc:pascal ?pascal ;
          gc:camel ?camel ;
          gc:snake ?snake ;
          gc:upper_snake ?upper_snake ;
          gc:kebab ?kebab ;
          gc:title ?title .
    }
for_each: entities
---
{% raw %}{
  "about": "This is a hygen-create definitions file. The hygen-create utility creates generators that can be executed using hygen.",
  "hygen_create_version": "0.4.0",
  "name": "platform-eng-ch06",
  "files_and_dirs": {
    "README.md": true,
    "api-spec.yaml": true,
    "app-config.production.yaml": true,
    "app-config.yaml": true,
    "backstage-helm-values.yaml": true,
    "catalog-info.yaml": true,
    "create-backstage-plugin.py": true,
    "custom-homepage.tsx": true,
    "ggen-create.json": true,
    "keycloak-oidc-module.ts": true,
    "load-secrets.sh": true,
    "register-catalog-entities.py": true,
    "templates/onboard-service/template.yaml": true,
    "test-portal-health.py": true
  },
  "templatize_using_name": "{% endraw %}{{ row.capitalized }}{% raw %}",
  "gen_parent_dir": false
}
{% endraw %}