---
to: "kind-config.yaml"
sparql:
  entities: |
    PREFIX gc: <https://ggen.io/ontology/ggen-create#>
    SELECT ?name ?upper ?lower ?capitalized ?pascal ?camel ?snake ?upper_snake ?kebab ?title
    WHERE {
      gc:subject a gc:GenerationSubject ;
          gc:name ?name ;
          gc:upper ?upper ;
          gc:lower ?lower ;
          gc:capitalized ?capitalized ;
          gc:pascal ?pascal ;
          gc:camel ?camel ;
          gc:snake ?snake ;
          gc:upper_snake ?upper_snake ;
          gc:kebab ?kebab ;
          gc:title ?title .
    }
for_each: entities
---
{% raw %}kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 80
    hostPort: 8080
    protocol: TCP
  - containerPort: 443
    hostPort: 8443
    protocol: TCP
{% endraw %}