defmodule {{ module_name | default(value="Generated.RevOps") }} do
  use Ash.Domain

  resources do
{% for resource in resources | default(value=[]) %}
    resource {{ resource.module }}
{% endfor %}
  end
end
