[package]
name = "fortune5-required-foundation"
version = "26.7.30"
edition = "2021"
publish = false

[workspace]

[dependencies]
{% for row in results %}{{ row["crateName"] }} = { path = "{{ row["path"] }}" }
{% endfor %}serde_json = "1"
tempfile = "3"
