---
to: config/config.exs
sparql:
  project: |
    PREFIX nvc: <https://ggen.dev/marketplace/ex-noun-verb-cli-pack#>
    SELECT ?module_name WHERE {
      ?p a nvc:GeneratedCliProject ; nvc:moduleName ?module_name .
    }
---
import Config

config :ex_noun_verb_cli, registry: {{ project[0].module_name }}.Registry
