---
to: README.md
sparql:
  project: |
    PREFIX nvc: <https://ggen.dev/marketplace/ex-noun-verb-cli-pack#>
    SELECT ?app_name ?module_name ?description WHERE {
      ?p a nvc:GeneratedCliProject ; nvc:appName ?app_name ; nvc:moduleName ?module_name ; nvc:description ?description .
    }
  verbs: |
    PREFIX nvc: <https://ggen.dev/marketplace/ex-noun-verb-cli-pack#>
    SELECT ?noun ?verb WHERE {
      ?p a nvc:GeneratedCliProject ; nvc:hasVerb ?v . ?v a nvc:GeneratedVerb ; nvc:noun ?noun ; nvc:verb ?verb .
    }
    ORDER BY ?noun ?verb
---
# {{ project[0].module_name }}

{{ project[0].description }}

## Build

```
mix deps.get
mix escript.build
```

## Commands

{% for v in verbs %}- `./{{ project[0].app_name }} {{ v.noun }} {{ v.verb }}`
{% endfor %}
