@prefix pm: <https://chatmangpt.com/ggen/projection-matrix#> .
@prefix bind: <https://chatmangpt.com/ggen/generated-binding#> .

bind:this
  a pm:Projection ;
  pm:subject <{{ subject }}> ;
  pm:consumer <{{ consumer }}> ;
  pm:adapter <{{ adapter }}> ;
  pm:targetPath "{{ targetPath }}" ;
  pm:sourceIdentity "{{ sourceIdentity }}" ;
{% if sourceDigest %}  pm:sourceDigest "{{ sourceDigest }}" ;{% endif %}
  pm:emits "{{ targetPath }}" .
