---
to: "mermaid.config.json"
---
{
  "securityLevel": "strict",
  "startOnLoad": false,
  "htmlLabels": false,
  "theme": "neutral",
  "logLevel": "error",
  "flowchart": {
    "defaultRenderer": "dagre-wrapper",
    "htmlLabels": false
  },
  "architecture": {
    "randomize": false
  }
}
