---
to: infra/.cargo/config.toml
sparql:
  row: |
    PREFIX tcps: <http://seanchatmangpt.github.io/packs/tcps-release#>
    SELECT ?body WHERE {
      tcps:CargoConfigArtifact tcps:artifactBody ?body .
    } ORDER BY ?body
---
{{ row[0].body }}
