---
to: infra/packaging/nuget/tcps.nuspec.in
sparql:
  row: |
    PREFIX tcps: <http://seanchatmangpt.github.io/packs/tcps-release#>
    SELECT ?body WHERE {
      tcps:NugetPackagingTarget tcps:manifestBody ?body .
    } ORDER BY ?body
---
{{ row[0].body -}}
