---
to: infra/release.json
sparql:
  row: |
    PREFIX tcps: <http://seanchatmangpt.github.io/packs/tcps-release#>
    SELECT ?body WHERE {
      tcps:ReleaseJsonArtifact tcps:artifactBody ?body .
    } ORDER BY ?body
---
{{ row[0].body }}
